{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h5 class="my-3 border-bottom pb-2">질문 등록</h5>

        <form method="post" novalidate form method="post" enctype="multipart/form-data">

            {{ form.csrf_token }}

            <!-- 에러 -->
            {% for field, errors in form.errors.items() %}
                <div class="alert alert-danger">
                    <strong>{{ form[field].label.text }}</strong>
                    <ul>
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}

            <!-- 문의 유형 라디오체크박스 -->
            <div class="mb-3">
                <label class="form-label">{{ form.cs_ask.label }}</label>
                {% for subfield in form.cs_ask %}
                    <div class="form-check">
                        {{ subfield(class="form-check-input") }}
                        <label class="form-check-label" for="{{ subfield.id }}">
                            {{ subfield.label.text }}
                        </label>
                    </div>
                {% endfor %}
            </div>

            {#영화관 장소 cs_place#}
            <div class="mb-3">
                {{ form.cs_place.label(class="form-label") }}
                {{ form.cs_place(class="form-select") }}
            </div>

            <!-- 제목 -->
            <div class="mb-3">
                {{ form.subject.label(class="form-label") }}
                {{ form.subject(class="form-control") }}
            </div>

            <!-- 내용 -->
            <div class="mb-3">
                {{ form.content.label(class="form-label") }}
                {{ form.content(class="form-control") }}
            </div>
{#            파일 첨부#}
            <div class="mb-3">
                {{ form.image.label }}
                {{ form.image(class="form-control", multiple=True, accept="image/*") }}
            </div>


            <button type="submit" class="btn btn-primary mt-3">등록하기</button>
        </form>
    </div>
{% endblock %}